<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Multi-level Dropdown Example</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Your Brand/Logo</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownDepartments"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Departments
            </a>
            <div
              class="dropdown-menu"
              aria-labelledby="navbarDropdownDepartments"
            >
              <a
                class="dropdown-item dropdown-toggle"
                href="#"
                id="navbarDropdownCategory1"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Category 1
              </a>
              <div
                class="dropdown-menu"
                aria-labelledby="navbarDropdownCategory1"
              >
                <a class="dropdown-item" href="#">Sub-category 1</a>
                <a class="dropdown-item" href="#">Sub-category 2</a>
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item dropdown-toggle"
                  href="#"
                  id="navbarDropdownSubCategory1"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Sub-category 3
                </a>
                <div
                  class="dropdown-menu"
                  aria-labelledby="navbarDropdownSubCategory1"
                >
                  <a class="dropdown-item" href="#">Sub-sub-category 1</a>
                  <a class="dropdown-item" href="#">Sub-sub-category 2</a>
                </div>
              </div>
              <div class="dropdown-divider"></div>
              <a
                class="dropdown-item dropdown-toggle"
                href="#"
                id="navbarDropdownCategory2"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Category 2
              </a>
              <div
                class="dropdown-menu"
                aria-labelledby="navbarDropdownCategory2"
              >
                <a class="dropdown-item" href="#">Sub-category 4</a>
                <a class="dropdown-item" href="#">Sub-category 5</a>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Bootstrap JS (Optional - Only if you need JavaScript features from Bootstrap) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
